*{
    margin: 0;
    padding: 0;
}

.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%, rgba(0,0,0,0.5)50%), url(/images/bg.jpeg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    font-family: sans-serif;
}

.navbar{
    width: 95%;
    height: auto;
    margin-left: 50px;
}

.logo{
    color: red;
    font-size: 40px;
    font-family: cursive;
    float: left;
    padding-top: .6%;
    cursor: pointer;
}

.menu{
    width: 600px;
    float: left;
    height: 70px;
}

ul{
    float: left;
    display: flex;
    padding-top: 40px;
    justify-content: center;
    margin-left: 200px;
    
}

ul li{
    list-style: none;
    margin-left: 120px;
    font-size: 16px;
    width: 100px;
}
ul li a{
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    transition: .3s ease;
}

ul li a:hover{
    color: #ff7200;
}

.search-box{
    float: right;
    width: 200px;
    background: white;
    height: 20px;
    padding: 8px;
    border-radius: 15px;
    margin-top: 40px;
    margin-right: 2%;
}


.search-box .search-txt{
    width: 190px;
    padding: 0 6px;
}

.search-btn{
    text-decoration: none;
    background: white;
    color: black;
    display: flex;
    float: right;
    justify-content: center;
    align-items: center;
    width: 30px;
}

.cars{
    float: left;
    display: flex;
    justify-content: center;
    margin-top: 450px;
    position: absolute;
}

/* for added */
.car1 {
    position: absolute;
    left: 230px;
}
.car2 {
    position: absolute;
    left: 710px;
    z-index: 10;
    top: 70px;
}
.car3 {
    position: absolute;
    left: 1080px;
}

/* for responsiveness */
@media screen and (max-width: 1000px) {
    .car1 {
        position: absolute;
        left: 1px;
    }
    .car2 {
        position: absolute;
        left: 400px;
        z-index: 10;
        top: 70px;
    }
    .car3 {
        position: absolute;
        left: 700px;
    }
}

.title{
    position: absolute;
    margin-top: 280px;
    left: 52%;
    text-align: center;
    line-height: normal;
    flex-shrink: 0;
    transform: translate(-50%,-50%);
    
}

.title h1{
    color: white;
    font-size: 70px;
   
}

.title h3{
    color: white;
    font-size: 30px;
}

.button{
    position: absolute;
    top: 40%;
    left: 51%;
    transform: translate(-50%,-50%);
}

.btn{
    border: 1px solid #fff;
    padding: 5px 20px;
    color: #fff;
    transition: 0.5 ease;
    font-size: 18px;
    text-decoration: none;
}

.btn:hover{
    background-color: #fff;
    color: black;
}

.button2{
    position: absolute;
    top: 90%;
    left: 86%;
    transform: translate(-50%,-50%);
}

.rectangle{
    position: absolute;
    top: 300%;
    left: 200%;
    
    
    
}